# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
bower_components/

# Build directories
build/
dist/
tmp/

# System files
.DS_Store
Thumbs.db

# Optional: if using environment variable files
.env

# Optional: if using IDEs like VSCode
.vscode/
.idea/

# Tauri build outputs
src-tauri/target/

# Ignore private key files
~/.tauri/myapp.key
~/.tauri/myapp.key.pub
